# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/
Packages/.build/


# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
